.contenedorJuego {
    width: 400;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(226, 148, 250);
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContent {
    height: 80%;
    background-color: rgb(180, 199, 228);
}

.contenedorJuego h3 {
    padding: 5px;
    text-align: center;
    background-color: rgb(209, 67, 252);
}

.divJuegoHeader label {
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
    padding-bottom: 10px;
}

.divJuegoLi {
    margin-top: 10px;
}
.divJuegoLi label{
    display:inline-block;
    width: 180px;
    font-size: 15px;
}
.divJuegoLi input{
    margin-left: 10px;
}
.divJuegoLi input[type=button]{
    background-color: blueviolet;
    color: white;
}
.divJuegoLi input[type=button]:disabled{
    background-color: rgb(201, 149, 250);
    color: rgb(73, 71, 71);
}
.divJuegoLi img{
    vertical-align: middle;
    margin-left: 5px;
}
input[type=text] {
    width: 50px;
}
#divImgRes {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

img {
    width: 20px;
    height: 20px;
}
.divResultado {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 5px;
}
.resIntGanador {
    background-color: rgb(7, 161, 7);
    font-weight: bold;
    font-size: 17px;
}

.resIntPerdedor {
    background-color: red;
    font-weight: bold;
    font-size: 17px;
}

.contenedorJuego2 {
    width: 400;
    padding: 10px;
    margin: 10px;
    float: left;
    border: 1px solid black;
    background-color: rgb(148, 226, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorJuego2 h3 {
    padding: 5px;
    text-align: center;
    background-color: rgb(67, 215, 252);
}
.opcionLoader {
    width: 170px;
    height: 150px;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.imgLoader {
    width: 200px;
    height: 150px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.imgLoader img {
    margin:auto;
    margin-top: 20px;
	display:block;
    width: 170px ;
    height: 100px;
    border: 1px solid black;
}


.resJuego2 {
    clear: both;
    padding-top: 19px;
    border-top: 1px solid black;
}

.opcionLoader input[type=button]{
    margin-top: 5px;
    width: 160px;
    height: 22px;
    float:left;
    border: 1px solid black;
}

.btnOpcion {
    color: black;
    background-color: aquamarine;

}

.btnOpCorrecta {
    background-color: rgb(5, 119, 15);
    color: white;
}

.btnOpIncorrecta {
    background-color: rgb(119, 13, 5);
    color: white;
}

.btnOpDisabled {
    background-color: rgb(165, 163, 163);
    color: black;

}
.opcionLoader input[type=button]:hover:not([disabled]) {
    background-color: rgb(236, 255, 127);
    border: 1px solid rgb(5, 7, 32);
}

